<h1>Create a Team and Heroes!</h1>

<h2>Team</h2>
<label>Team Name:</label>
<input type="text" id="team_name" name="team[name]">
<label>Team Motto:</label>
<input type="text" id="team_motto" name="team[motto]">

<h2>Hero 1</h2>
<label>Hero's Name:</label>
<input type="text" id="hero_name_1" name="team[hero][][name]">
<label>Hero's Power:</label>
<input type="text" id="hero_power_1" name="team[hero][][power]">
<label>Hero's Biography:</label>
<input type="text" id="hero_bio_1" name="team[hero][][bio]">
